/* .navbar{
    background-color: #0e5dae;
}
.navbar .nav-item .nav-link{
    color: #fff;
    padding: 10px 15px;
} */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Playfair+Display:wght@400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700&display=swap');
body{
    font-family:'Poppins', sans-serif;
}
.navbar2{
    z-index: 999;
    width:100%;
    position:fixed;
    transition: 0.5s;
    box-shadow: 0px 10px 20px 0px rgba(69, 72, 80, 0.15);

    /* position: sticky; */
}
.navbar2.sticky{
    
    top:0;
    padding: 10px 0;
    transition: 0.3s;
    background-color: #0b5096;
   

}
.navbar2.sticky li a{
    color: #fff;
}
.navbar2.sticky .logout{
    color: #fff;
}
input[type="search"]{
    border: 1px solid rgb(219, 219, 219);
    width: 800px;
    height: 40px;
    padding: 0 15px;
    font-size: 14px;
    letter-spacing: 0.5px;

}
form{
    position: relative;
}
/* button[type="submit"]{
    position: absolute;
    top: 0px;
    bottom:0px;
    right: 0;
    border: none;
    background-color: #0e5dae;
    color: #fff;
    font-size: 18px;
    padding-top: 2px;
} */
.search-btn{
    position: absolute;
    top: 0px;
    bottom:0px;
    right: 0;
    border: none;
    background-color: #0e5dae;
    color: #fff;
    font-size: 18px;
    padding-top: 2px;
}
button[type="submit"]:hover{
    opacity: 1;
    background-color:#0e5dae ;
}
.navbar li a{
    color:#000;
    display: block;
    font-size: 15px;
    font-weight: 500;
    padding: 7px 15px;
    position: relative;
    z-index: 99;
    margin: 0;
    text-align: center;
    line-height: 1.5;
    
}


/* .navbar li a:hover{
    font-size: 17px;
    color:#a7ce3e;
    transition: all 0.5s ease;
} */

.navbar2{
    background-color: #f6f6f6;
}


.cart-icon{
    font-size: 18px;
}
.b-color{
    background-color: #13ade1;
   
}
.prescription{
    transition: all 0.3s ease 0s;
    cursor: pointer;
    border: none;
    padding: 9px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.3px;
    
}
/* .prescription:hover{
    background-color: #13ade1;
} */
.camera{
    font-size: 18px;
    padding-right: 5px;
}
.user-icon{
    font-size: 21px;
}
.logout{
    background-color: transparent;
    border: none;
    color: #000;
    font-size: 15px;
    padding: 8px 0;
    margin-right: 15px;
    font-weight: 500;
}
.logout:hover{
    background-color: transparent;
    color: grey;
}
@media screen and (max-width:600px) {
    .navbar{
        position: sticky;
    }
    input[type="search"]{
        width: 470px;
        margin-top: 20px;
    }
    .search-btn{
        margin-top: 20px;
    }
    
}