/* .user-image{
    background-image: linear-gradient(to bottom, #3482d6 100%, rgba(255, 255, 255, 0) 0%);
} */
.user-info{
    border-bottom: 2px solid rgb(203, 201, 201);
}
.text-color{
    color: rgb(51, 50, 50);
}
.choose-image{
    border-top: 2px solid rgb(203, 201, 201);
    padding-top: 18px;
}
.update-btn{
    font-size: 14px;
    border:1px solid #000;
}
.update-btn:hover{
    background-color: #fff;
    color: #000;
    font-weight: 500;
    transition: all 0.4s;
    
}
.update-profile{
    font-size: 15px;
    background-color: #0e5dae;
    border: none;
}
.update-profile:hover{
    transform: translateY(-3px);
    transition: all 0.4s ease-in-out;
    
}